# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Secrets
.env
*.env.local

# Firebase private key
backend/firebase_key.json

# Database
*.db
*.sqlite

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
